USE [master]
GO
/****** Object:  Database [DAguirreControlEscolar]    Script Date: 1/16/2023 11:01:52 AM ******/
CREATE DATABASE [DAguirreControlEscolar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAguirreControlEscolar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DAguirreControlEscolar.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DAguirreControlEscolar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DAguirreControlEscolar_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAguirreControlEscolar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAguirreControlEscolar]
GO
/****** Object:  StoredProcedure [dbo].[AlumnoAdd]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlumnoAdd]
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@Foto VARCHAR(MAX)
AS
INSERT INTO Alumno(Nombre, ApellidoPaterno, ApellidoMaterno, Foto)
VALUES (@Nombre,@ApellidoPaterno,@ApellidoMaterno, @Foto)
GO
/****** Object:  StoredProcedure [dbo].[AlumnoDelete]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlumnoDelete]
@IdAlumno INT
AS
DELETE FROM Alumno
WHERE IdAlumno = @IdAlumno
GO
/****** Object:  StoredProcedure [dbo].[AlumnoGetAll]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlumnoGetAll]
AS
SELECT IdAlumno, Nombre, ApellidoPaterno, ApellidoMaterno, Foto
FROM Alumno
GO
/****** Object:  StoredProcedure [dbo].[AlumnoGetById]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlumnoGetById]
@IdAlumno INT
AS
SELECT IdAlumno, Nombre, ApellidoPaterno, ApellidoMaterno, Foto
FROM Alumno
WHERE IdAlumno=@IdAlumno
GO
/****** Object:  StoredProcedure [dbo].[AlumnoMateriaAdd]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlumnoMateriaAdd]
@IdAlumno INT,
@IdMateria INT
AS
INSERT INTO AlumnoMateria(IdAlumno,IdMateria)
VALUES (@IdAlumno,@IdMateria)
GO
/****** Object:  StoredProcedure [dbo].[AlumnoMateriaDelete]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlumnoMateriaDelete]
@IdAlumno INT,
@IdMatera INT
AS
DELETE FROM AlumnoMateria
WHERE IdAlumno=@IdAlumno
AND IdMateria=@IdMatera
GO
/****** Object:  StoredProcedure [dbo].[AlumnoMateriaGetAll]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlumnoMateriaGetAll]
AS
SELECT IdAlumnoMateria, Alumno.IdAlumno, Materia.IdMateria, 
Alumno.Nombre AS 'NombreAlumno', Alumno.ApellidoPaterno, Alumno.ApellidoMaterno, Alumno.Foto,
Materia.Nombre AS 'NombreMateria', Materia.Costo
FROM AlumnoMateria
INNER JOIN Alumno ON Alumno.IdAlumno = AlumnoMateria.IdAlumno
INNER JOIN Materia ON Materia.IdMateria = AlumnoMateria.IdMateria
GO
/****** Object:  StoredProcedure [dbo].[AlumnoMateriaGetById]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlumnoMateriaGetById]
@IdAlumnoMateria INT
AS
SELECT IdAlumnoMateria, Alumno.IdAlumno, Materia.IdMateria, 
Alumno.Nombre AS 'NombreAlumno', Alumno.ApellidoPaterno, Alumno.ApellidoMaterno,
Materia.Nombre AS 'NombreMateria', Materia.Costo
FROM AlumnoMateria
INNER JOIN Alumno ON Alumno.IdAlumno = AlumnoMateria.IdAlumno
INNER JOIN Materia ON Materia.IdMateria = AlumnoMateria.IdMateria
WHERE IdAlumnoMateria = @IdAlumnoMateria
GO
/****** Object:  StoredProcedure [dbo].[AlumnoMateriaUpdate]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlumnoMateriaUpdate]
@IdAlumnoMateria INT,
@IdAlumno INT,
@IdMateria INT
AS
UPDATE AlumnoMateria
SET IdAlumno=@IdAlumno,IdMateria=@IdMateria
WHERE IdAlumnoMateria=@IdAlumnoMateria
GO
/****** Object:  StoredProcedure [dbo].[AlumnoUpdate]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AlumnoUpdate]
@IdAlumno INT,
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50),
@ApellidoMaterno VARCHAR(50),
@Foto VARCHAR(MAX)
AS
UPDATE Alumno
SET Nombre=@Nombre, ApellidoPaterno=@ApellidoPaterno, ApellidoMaterno=@ApellidoMaterno, Foto=@Foto
WHERE IdAlumno=@IdAlumno
GO
/****** Object:  StoredProcedure [dbo].[LoginAlumno]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoginAlumno]
@Nombre VARCHAR(50),
@ApellidoPaterno VARCHAR(50)
AS
SELECT Nombre,ApellidoPaterno,ApellidoMaterno
FROM Alumno
WHERE Nombre=@Nombre 
AND ApellidoPaterno=@ApellidoPaterno
GO
/****** Object:  StoredProcedure [dbo].[MateriaAdd]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MateriaAdd]
@Nombre VARCHAR(50),
@Costo DECIMAL
AS
INSERT INTO Materia(Nombre, Costo)
VALUES (@Nombre,@Costo)
GO
/****** Object:  StoredProcedure [dbo].[MateriaDelete]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MateriaDelete]
@IdMateria INT
AS
DELETE FROM Materia
WHERE IdMateria=@IdMateria
GO
/****** Object:  StoredProcedure [dbo].[MateriaGetAll]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MateriaGetAll]
AS
SELECT IdMateria, Nombre, Costo
FROM Materia
GO
/****** Object:  StoredProcedure [dbo].[MateriaGetById]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MateriaGetById]
@IdMateria INT
AS
SELECT IdMateria, Nombre, Costo
FROM Materia
WHERE IdMateria=@IdMateria
GO
/****** Object:  StoredProcedure [dbo].[MateriaGetByIdAlumnoMateria]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MateriaGetByIdAlumnoMateria]
@IdAlumno INT
AS
SELECT IdAlumnoMateria, Alumno.IdAlumno, Materia.IdMateria,
Alumno.Nombre AS 'NombreAlumno', Alumno.ApellidoPaterno, Alumno.ApellidoMaterno, Alumno.Foto,
AlumnoMateria.IdMateria AS 'Materia', Materia.Nombre AS 'NombreMateria', Materia.Costo
FROM AlumnoMateria
INNER JOIN Alumno ON Alumno.IdAlumno = AlumnoMateria.IdAlumno
INNER JOIN Materia ON Materia.IdMateria = AlumnoMateria.IdMateria
WHERE Alumno.IdAlumno = @IdAlumno
GO
/****** Object:  StoredProcedure [dbo].[MateriasNoAsignadas]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MateriasNoAsignadas]
@IdAlumno INT
AS
SELECT m.IdMateria, m.Nombre, m.Costo
FROM Materia m
WHERE m.IdMateria NOT IN
(SELECT am.IdMateria
FROM AlumnoMateria am
WHERE am.IdAlumno = @IdAlumno)
GO
/****** Object:  StoredProcedure [dbo].[MateriaUpdate]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MateriaUpdate]
@IdMateria INT,
@Nombre VARCHAR(50),
@Costo DECIMAL
AS
UPDATE Materia
SET Nombre=@Nombre, Costo=@Costo
WHERE IdMateria=@IdMateria
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Alumno](
	[IdAlumno] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[ApellidoPaterno] [varchar](50) NULL,
	[ApellidoMaterno] [varchar](50) NULL,
	[Foto] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AlumnoMateria]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlumnoMateria](
	[IdAlumnoMateria] [int] IDENTITY(1,1) NOT NULL,
	[IdAlumno] [int] NULL,
	[IdMateria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAlumnoMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Materia]    Script Date: 1/16/2023 11:01:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Materia](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Costo] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Alumno] ON 

GO
INSERT [dbo].[Alumno] ([IdAlumno], [Nombre], [ApellidoPaterno], [ApellidoMaterno], [Foto]) VALUES (3, N'Gerardo', N'Torres', N'Sandre', NULL)
GO
SET IDENTITY_INSERT [dbo].[Alumno] OFF
GO
SET IDENTITY_INSERT [dbo].[AlumnoMateria] ON 

GO
INSERT [dbo].[AlumnoMateria] ([IdAlumnoMateria], [IdAlumno], [IdMateria]) VALUES (5, 3, 6)
GO
INSERT [dbo].[AlumnoMateria] ([IdAlumnoMateria], [IdAlumno], [IdMateria]) VALUES (7, 2, 9)
GO
INSERT [dbo].[AlumnoMateria] ([IdAlumnoMateria], [IdAlumno], [IdMateria]) VALUES (8, 3, 10)
GO
SET IDENTITY_INSERT [dbo].[AlumnoMateria] OFF
GO
SET IDENTITY_INSERT [dbo].[Materia] ON 

GO
INSERT [dbo].[Materia] ([IdMateria], [Nombre], [Costo]) VALUES (6, N'Principios Electronicos', CAST(1300 AS Decimal(18, 0)))
GO
INSERT [dbo].[Materia] ([IdMateria], [Nombre], [Costo]) VALUES (7, N'Electronica', CAST(1100 AS Decimal(18, 0)))
GO
INSERT [dbo].[Materia] ([IdMateria], [Nombre], [Costo]) VALUES (8, N'Programación Orientada a Objetos', CAST(1300 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[Materia] OFF
GO
ALTER TABLE [dbo].[AlumnoMateria]  WITH CHECK ADD FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Alumno] ([IdAlumno])
GO
ALTER TABLE [dbo].[AlumnoMateria]  WITH CHECK ADD FOREIGN KEY([IdMateria])
REFERENCES [dbo].[Materia] ([IdMateria])
GO
USE [master]
GO
